<a [routerLink]="['/explore', 'detail', exploreCard.id]">
  <div class="explore-item">
    <div class="left-side">
      <img src="{{exploreCard.image}}">
    </div>
    <div class="right-side">
      <div class="title">
        <p>{{ exploreCard.title }}</p>
      </div>
      <div class="description">
        <p>{{ exploreCard.description }}</p>
      </div>
      <div class="extra-info">
        <div class="distance">
          <p>{{ getDistance() }}</p>
        </div>
        <div class="xp">
          <p>+ {{ exploreCard.xp }}xp</p>
        </div>
      </div>
    </div>

  </div>
</a>
