<div class="container">
  <div class="pre-header-image">
    <img src="{{user.headerPic}}"
         alt="{{user.name}} Header">
  </div>
  <div class="main-content">
    <div class="header-info">
      <div class="pfp">
        <img src="{{user.profilePic}}" alt="{{user.name}} pfp">
      </div>
      <div class="basic-info">
        <p class="name">{{user.name}}</p>
        <p>Level 25</p>
        <p class="member-info">Member since: <span style="white-space: nowrap">{{ user.creationDate | date:'d MMMM y'}}</span></p>
      </div>
    </div>
    <div class="profile-description">
      <p class="description">Description</p>
      <p class="description-content">This user has not added a description yet.</p>
    </div>
    <div class="profile-list">
      <a [routerLink]="['visited']">
        <div class="profile-list-entry" >
          <div class="icon">
            <img src="assets/search-svgrepo-com.svg" alt="search">
          </div>
          <div class="text">
            <p>Visited Locations</p>
          </div>
          <div class="click-icon">
            <img src="assets/right-arrow-svgrepo-com.svg" alt="click arrow" width="80%">
          </div>
        </div>
      </a>
      <a [routerLink]="['rewards']">
        <div class="profile-list-entry">
          <div class="icon">
            <img src="assets/calendar-lines-svgrepo-com.svg" alt="search">
          </div>
          <div class="text">
            <p>Rewards</p>
          </div>
          <div class="click-icon">
            <img src="assets/right-arrow-svgrepo-com.svg" alt="click arrow" width="80%">
          </div>
        </div>
      </a>
      <a [routerLink]="['/bookmarks']">
        <div class="profile-list-entry">
          <div class="icon">
            <img src="assets/bookmark-svgrepo-com.svg" alt="search">
          </div>
          <div class="text">
            <p>Bookmarked Items</p>
          </div>
          <div class="click-icon">
            <img src="assets/right-arrow-svgrepo-com.svg" alt="click arrow" width="80%">
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
