<div class="header-content">
  <div class="info-row">
    <div class="icon-container">
      <img src="assets/search-svgrepo-com.svg">
    </div>
    <div class="text-header">
      <p>Discover Amsterdam</p>
    </div>
    <div class="icon-container">
      <img src="assets/settings-svgrepo-com.svg">
    </div>
  </div>
  <div class="xpbar-row">
    <div class="xp-bar">
      <div class="xp-bar-size">
        <p>700XP</p>
      </div>
    </div>
    <p>30xp left until new reward!</p>
  </div>
</div>
