<div class="main">
  <div class="header">
    <app-user-header></app-user-header>
  </div>
  <div class="main-body">
    <router-outlet/>
  </div>
  <div class="main-footer">
    <div class="button-row">
      <a [routerLink]="['/explore']">
        <div class="button"  [routerLinkActive]="['routerActive']">
          <img src="assets/compass-svgrepo-com.svg">
          <p>Explore</p>
        </div>
      </a>
      <a [routerLink]="['/calendar']">
        <div class="button"  [routerLinkActive]="['routerActive']">
          <img src="assets/calendar-lines-svgrepo-com.svg">
          <p>Calendar</p>
        </div>
      </a>
      <a [routerLink]="['/saved']">
        <div class="button"  [routerLinkActive]="['routerActive']">
          <img src="assets/bookmark-svgrepo-com.svg">
          <p>Saved</p>
        </div>
      </a>
      <a [routerLink]="['/profile']">
        <div class="button"  [routerLinkActive]="['routerActive']">
          <img src="assets/profile-round-1342-svgrepo-com.svg">
          <p>Profile</p>
        </div>
      </a>
    </div>
  </div>
</div>

