<div class="container">
  <div class="top-image">
    <img src="assets/catalina-fedorova-RRl_m_fQzNY-unsplash.jpg" alt="">
  </div>
  <div class="container-info">
    <h2>Visited Locations</h2>
    <p>Look back at all the places you have unlocked!</p>
  </div>
  <div class="item-list">
    @if(categoryItems.length == 0) {
      <p>You haven't visited any locations yet! Go to Explore and find some exciting places to visit!</p>
    } @else {
      @for (card of categoryItems; track card) {
        <app-explore-category-item [exploreCard]="card"></app-explore-category-item>
      }
    }
  </div>
</div>
