<div class="container">

  <div class="container-info">
    <h2>Gamified Exploring</h2>
    <p>Explore area's, gain experience, and learn everything about the cities you're visiting!</p>
    <div class="carrousel">
      @for(item of cards; track item) {
        <app-explore-card [exploreCard]="item"></app-explore-card>
      }
    </div>
    <a [routerLink]="['/explore']"><p>Explore new items →</p></a>
  </div>
  <div class="container-info">
    <h2>Unlock rewards</h2>
    <p>Want to get a nice discount at a restaurant, a free drink at the café outside your hotel or perhaps get cheaper tickets to the Zoo? Unlock rewards as you gain experience while travelling!</p>
    <div class="carrousel">
      <h1>ADD REWARDS CARROUSEL</h1>
    </div>
  </div>
</div>
